<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="exampleTextarea">Quote</label>
    <textarea
      class="form-control"
      id="exampleTextarea"
      rows="3"
      placeholder="A person who never made a mistake never tried anything new."
      ngModel
      name="quote"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text"
           class="form-control"
           id="author"
           placeholder="Albert Einstein"
           ngModel
           name = "author"
    >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
