<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="exampleTextarea">Quote</label>
    <textarea
      class="form-control"
      id="exampleTextarea"
      rows="3"
      placeholder="A person who never made a mistake never tried anything new."
      ngModel
      name="quote"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text"
           class="form-control"
           id="author"
           placeholder="Albert Einstein"
           ngModel
           name="author"
    >
  </div>
  <div class="form-group">
    <label>Tags</label>
    <tag-input class="form-control"
               [ngModel]="tags"
               name="tags"
               (onAdd)="onAdded($event)"
               (onRemove)="onRemoved($event)"
    ></tag-input>

  </div>



  <button routerLink="/home" class="btn btn-danger">Cancel</button>
  <button type="submit" class="btn btn-success">Submit</button>



  <!--<tags-input class="form-control input-lg" (onTagsChanged)="onTagsChanged($event)"-->
  <!--[removeLastOnBackspace]="removeLastOnBackspace" [(ngModel)]="tags" name="tags"></tags-input>-->



</form>
