<div class="quote-container">
  <h3><u>Today's top quotes</u></h3>
  <blockquote class="quote">
    <div
      *ngFor="let quote of quotes"
    >
      {{quote.quote}}
      <footer class="blockquote-footer">{{quote.author}}</footer>
      <hr>
    </div>
  </blockquote>

</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <div
      *ngFor="let page of pages; let i = index"
    >
      <li class="page-item"><a class="page-link" routerLinkActive="active" (click)="getQuotesWithPagination(div.innerText)" #div>{{i}}</a></li>
    </div>
    <li class="page-item">
      <a class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>


<a routerLink="/quote-add">
  <button class="btn btn-success">Add Quote</button>
</a>




